build
.gradle
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/dictionaries
!.idea/dictionaries/*
out
*.iml

*.versionsBackup
*.releaseBackup
release.properties

.video
.attach_pid*
apidoc