name: Close "wait for response" issues after inactivity

on:
  schedule:
    - cron: "17 3 * * *"
  workflow_dispatch:

permissions:
  issues: write

jobs:
  close:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          operations-per-run: '200'
          only-issue-labels: "wait for response"
          days-before-stale: -1
          days-before-close: 30
          close-issue-reason: "not_planned"
          close-issue-message: >
            Our team has requested additional information for this issue which was not provided within 30 days.
            The ticket is now automatically closed. Feel free to reopen or comment with the requested info.
