name: "Validate Gradle Wrapper"
on: [push, pull_request]

permissions:
  contents: read #  to fetch code (actions/checkout)

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v1
